@{
    ViewData["Title"] = "Order";
}

<div class="modalPetNet" style="display: none; z-index: 9999;">
    <div class="centerModalPetNet">
        <img alt="" src="~/images/loader.gif" />
        <div style="text-align:center;">
            Cargando...
        </div>
    </div>
</div>
<!-- Content -->
<br>
<br>
<section>
    <div class="snap-content">
        <div class="page-wrapper">

            <div>
                <h2>Order</h2>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12" style="padding-right: 30px;">
                        <em class="emAddPet">Add Order</em>
                        <br>
                        <a href="#" class="emAddPet" data-toggle="modal" data-target="#myModal"
                           data-trans-id="A">
                            <img alt="Order" style="width: 100%;"
                                 src="~/images/misc/base/add.png">
                        </a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="contentFormNormal">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Order</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div id="content_mypets">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" aria-hidden="true" role="document">
            <div class="modal-content">
                <div class="modal-header modalHeading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:#64dd17!important;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel" style="color:#64dd17!important;"></h4>
                    <div>
                        <input id="txtSessionPetId" type="text" width="50px" style="display:none;" />
                    </div>
                </div>
                <div class="modal-body">
                    <form class="" action="pet_mypets.html">
                        <div class="login-wrap">
                            <hr style="padding-bottom: 10px;">
                            <div class="row">
                                <div class="col-xs-4 col-md-4" style="margin-top:15px;">
                                    <p>AccountId:</p>
                                </div>
                                <div class="col-xs-8 col-md-8">
                                    <input id="Order_AccountId" type="text" class="form-control"
                                           placeholder="Fill Field">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-md-4" style="margin-top:15px;">
                                    <p>Number:</p>
                                </div>
                                <div class="col-xs-8 col-md-8">
                                    <input id="Order_Number" type="text" class="form-control"
                                           placeholder="Fill Field">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-md-4" style="margin-top:15px;">
                                    <p>Date</p>
                                </div>
                                <div class="col-xs-8 col-md-8">
                                    <input id="Order_Date" type="text" class="form-control"
                                           placeholder="Fill Field">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-md-4" style="margin-top:15px;">
                                    <p>Ammount:</p>
                                </div>
                                <div class="col-xs-8 col-md-8">
                                    <input id="Order_Ammount" type="text" class="form-control"
                                           placeholder="Fill Field">
                                </div>
                            </div>
                            <button id="btnRegister" type="button" class="btn btn-default btnGreen btn-block">Register!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
</section>

<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="~/scripts/custom.js"></script>
<script type="text/javascript" src="~/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $.support.cors = true;
</script>
<script type="text/javascript" src="~/js/config.js"></script>
<script type="text/javascript" src="~/scripts/c_Order.js"></script>

<script type="text/javascript" src="~/js/bootstrap-datepicker16.js"></script>
<script type="text/javascript" src="~/js/bootstrap-datepicker.es.min.js"></script>
<script type="text/javascript" src="~/js/bootbox.min.js"></script>
<script>
    $(document).bind('mobileinit', function () {
        $.mobile.changePage.defaults.changeHash = true;
        $.mobile.hashListeningEnabled = false;
        $.mobile.pushStateEnabled = false;
    });
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>